:root {
    --bg-color: #d0d6e7;
   }
   
   /* The foundational CSS for the webpage */
   * {
       box-sizing: border-box;
       padding: 0;
       margin: 0;
   }
   
   
   /* Set the background color for the webpage */
   body {
       background-color: var(--bg-color);
   }

   h2 {
font-size: 30px;

   }

/* Main container with flex for positioning and layout */

   main {
        width: 100%;
        display: flex;
        justify-content: left;
        
 }

 /* Flex container for the sections with current and forecasts */

#content-container {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    margin: 20px 20px 20px 0;
}

/* Sections for the content in current and forecasts */

 .content {
    margin-bottom: 20px;
    padding: 20px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bg-color);
    color: #000000;
}


/* Format the webpage header */
header {
	padding: 20px;
	text-align: center;
	background-color: #261360;
    color: #ffffff;
    font-size: 50px;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
}

/* Styling for the search box area */

aside {
    margin: 20px 0 20px 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 25%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bg-color);
}

/* Styling for current and futute buttons for the page */

button {
    background-color: #6fa1e2;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
    width: 80%;
    border-radius: 12px;
  }

/* Styling for created elements for current conditions */

#current-conditions {
    margin: 25px 0;
}

#currentDay {
    font-size: 20px;
}

/* Styling for created elements for forecast conditions */

#forecast-conditions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
}

.forecast-box {
    border: 5px outset rgb(43, 29, 124);
    background-color: lightblue;
    text-align: center;
}